<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<!--<div id="mySidepanel" class="sidepanel bg-dark">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="">Upload</a>
  <a href="">Gallery</a>
  <a href="">Recycle Bin</a>

</div>-->

<nav id="main" class="navbar navbar-expand-lg navbar-dark bg-dark headerp">
    <img src="https://cloud.ibm.com/registration/images/ibm-cloud-svg-lockup-white.svg" alt="IBM Cloud logo" height="60">
    <div class="container">
        <a class="navbar-brand ml-auto" href="#">ICOS Repository</a>
    </div>
</nav>

<!--<mat-sidenav-container class="example-container" hasBackdrop="true">

  (click)="sidenav.toggle()"

    <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
        <p>Working c:</p>
    </mat-sidenav-content>

</mat-sidenav-container>-->
