<div class="main">
    <div class="border-m ">
      <div class="main-1"><h1>Registrarse</h1></div>
    <section class="create-proyect">
        <div class="container">
            <div class="projects-content">
              <form  (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label></label>
                  <input type="text" class="form-control" id="username" [(ngModel)]="form.username" name="username" placeholder="Usuario" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="firstname" [(ngModel)]="form.firstname" name="firstname" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="surname" [(ngModel)]="form.surname" name="surname" placeholder="Apellido" required>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="mail" [(ngModel)]="form.mail" name="mail" placeholder="Correo" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" [(ngModel)]="form.password" name="password" placeholder="Contraseña" required>
                </div>
                <div class="form-group">
                  <button type="submit" name="submit"class=" btn btn-outline-primary btn-lg btn-block">Registrarse</button>
                </div>
              </form>
            </div>
          </div>
    </section>
  </div>
  </div>